fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
numpy
scikit-learn
xgboost
joblib
scapy
psutil
requests
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
streamlit
plotly
fpdf2
openpyxl
aiofiles
httpx
pydantic
pydantic-settings
